* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
}

:root {
    --20thcentery-font: '20thcentery', sans-serif;
    --black-color: #212323;
}

body {
    background-color: #fcfcfc;
    overflow-x: hidden;
    overflow-y: scroll;
}

.topnav {
    overflow: hidden;
    background-color: #fcfcfc;
    box-shadow: -1px 2px 30px 30px rgba(0, 0, 0, 0.2);
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnavMove{
    margin-top:20px;
}

.topnav a:hover {
    color: black;
}

.topnav .icon {
    display: none;
}

.imgBackground {
        background-image: url(../img/backgroundpicmobile.jpg);
        width: 100vw;
        height: 89vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

.didYouLookBehind{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    height:100%;
    padding-top:16vh;
    margin:0 auto;
}

#logo {
    width: 190px;
    height: 70px;
    background-image: url(../img/Screen%20Shot%202018-04-13%20at%2019.26.11.png);
    background-size: cover;
    margin-right:13vh;
}

#learn {
    font-size: 1.8em;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top:20vh;
    text-align: center;
    color:#fcfcfc;
    font-family: var(--20thcentery-font);
    font-weight:100;
    margin-bottom:16vh;
}

.fa-chevron-down {
    margin-top: 25%;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    margin-left: 45%;
    margin-right: auto;
    width: 40px;
    cursor: pointer;
    color: #fcfcfc;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 4s infinite;
}



/********************* IOANA ********************* */
.content{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
}

section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5vw 2vw 5vw 2vw;
  width: 80%;
  margin: 0 auto;
}

.illustration{
  width: 80%;
  margin: 0 auto;
}

.svgTitle{
  margin-bottom: 5vh;
  margin-left: -1vw;
}

/********************************************************/
/* THIS IS THE MOBILE VERSION */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .imgBackground {
        background-image: url(../img/backgroundpicmobile.jpg);
        height: 91vh;
    }

    #logo {
    width: 110px;
    height: 40px;
    background-image: url(../img/Screen%20Shot%202018-04-13%20at%2019.26.11.png);
    background-size: cover;
}

    .didYouLookBehind{
    width:90%;
    padding-top:17vh;
    }

    #learn {
    font-size: 1.3em;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom:4vh;
    margin-top:-4vh;
}
    .fit{
    width:90%;
    margin-top:59px;
    margin-left:20px;
    height:500px;
}

.content{
  display: block;
}

section{
  display: block;
}

.illustration{
  display: none;
}
}


/* THIS IS THE END OF THE MOBILE VERSION*/
